<!DOCTYPE html>
<html>
<head>
    <!-- Tags heads comuns -->
    <%-include includes/head_tags.ejs-%>

    <!-- Styleeshets comuns para todo o sistema -->
    <%-include includes/include_css.ejs-%>

    <!-- Styleeshets especificos desta página -->
    <link href="libs/chartist/dist/chartist.min.css" rel="stylesheet">
</head>
<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full"
        data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin6">
            <%-include includes/navbar.ejs-%>
        </header>

        <aside class="left-sidebar" data-sidebarbg="skin5">
            <%-include includes/sidebar_left.ejs-%>
        </aside>

        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                    <div class="col-7 align-self-center">
                        <div class="d-flex align-items-center justify-content-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div><!-- End Bread crumb -->

            <!-- Container fluid  -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Ultimas transações</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table class="table table-sm table-striped table-borderless" id="bucket">
                                                <tr></tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--End card-->
                    </div><!--End col-12 -->
                </div><!--End Row -->

                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-titile m-b-5">
                                                    Block.IO
                                                    <% if(balance){%>
                                                    <span class="text-muted"
                                                        style="margin-left: 8rem;"><%=balance.network%></span>
                                                    <%}%>
                                            </h5>
                                            <hr>
                                            <h5>Saldo disponível:</h5>
                                            <% if(balance){ %>
                                                    <span class="h3 font-light">
                                                        &#3647;
                                                        <span
                                                            id="balance"><%= parseFloat(balance.available_balance)%></span>
                                                    </span>
                                                    <span class="h4 font-light ml-4" id="balance2brl"></span>
                                                    <% } %>
                                                    <h5 class="mt-2">Saldo pendente:</h5>
                                                    <% if(balance){ %>
                                                    <span class="h3 font-light">
                                                        &#3647;
                                                        <span
                                                            id="pendent"><%= parseFloat(balance.pending_received_balance)%></span>
                                                    </span>
                                                    <span class="h4 font-light ml-4" id="pendent2brl"></span>
                                                    <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title m-b-5">Total de Ganhos <span
                                                        class="font-14 text-muted ml-5" id="data"></span></h5>
                                                <h3 class="font-light">R$ 643,00</h3>
                                                <div class="m-t-20 text-center">
                                                    <div id="earnings"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- End Row -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title m-b-0">Cotação &#3647;itcoin</h4>
                                <h2 class="font-light">
                                    <span id="lastPrice"></span>
                                    <span id="percent" class="font-16 font-medium"></span>
                                </h2>
                                <div class="m-t-30">
                                    <div class="row text-center">
                                        <div class="col-6 border-right">
                                            <h4 class="m-b-0"></h4>
                                            <span class="font-14 text-muted"></span>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="m-b-0"></h4>
                                            <span class="font-14 text-muted"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End container-fluid  -->
        </div><!-- End Page wrapper  -->
    </div><!-- End Main-Wrapper -->

    <!-- Javascript comum para todo o sistema -->
    <%-include includes/include_js.ejs-%>

    <!--JavaScript especificos desta página-->

    <!--chartis chart-->
    <script src="libs/chartist/dist/chartist.min.js"></script>
    <script src="libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="js/pages/dashboards/dashboard1.js"></script>

    <!-- WebSocket -->
    <script src="js/websocket.js"></script>
    <!-- Api de dados da Block.io -->
    <script src="js/apiBlockio.js"></script>

    <script>
        $('#data').html(dataAtualFormatada());
    </script>
</body>
</html>