<!DOCTYPE html>
<html>
<head>
    <%-include includes/head_tags.ejs-%>

    <%-include includes/include_css.ejs-%>

    <!--CSS especificos desta página-->
    <link href="libs/chartist/dist/chartist.min.css" rel="stylesheet">
</head>
<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full"
        data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin6">
            <%-include includes/navbar.ejs-%>
        </header>

        <aside class="left-sidebar" data-sidebarbg="skin5">
            <%-include includes/sidebar_left.ejs-%>
        </aside>

        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                    <div class="col-7 align-self-center">
                        <div class="d-flex align-items-center justify-content-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Bread crumb -->

            <!-- Container fluid  -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Ultimas transações</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="table-responsive">
                                            <h4>Litecoin</h4>
                                            <table class="table" id="bucket-ltc">
                                                <tr></tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="table-responsive">
                                            <h4>Bitcoin</h4>
                                            <table class="table" id="bucket-btc">
                                                <tr></tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--End card-->
                    </div><!--End col-12 -->
                </div><!--End Row -->

                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Relação de Vendas</h4>
                                <div class="sales ct-charts mt-3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-5">Total de Ganhos</h5>
                                <h3 class="font-light">$769.08</h3>
                                <div class="m-t-20 text-center">
                                    <div id="earnings"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title m-b-0">Undefined</h4>
                                <h2 class="font-light">35,658 <span class="font-16 text-success font-medium">+23%</span>
                                </h2>
                                <div class="m-t-30">
                                    <div class="row text-center">
                                        <div class="col-6 border-right">
                                            <h4 class="m-b-0">58%</h4>
                                            <span class="font-14 text-muted">Undefined</span>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="m-b-0">42%</h4>
                                            <span class="font-14 text-muted">Undefined</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End container-fluid  -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Main-Wrapper -->

    <%-include includes/include_js.ejs-%>

    <!--JavaScript especificos desta página-->
        <!--chartis chart-->
    <script src="libs/chartist/dist/chartist.min.js"></script>
    <script src="libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="js/pages/dashboards/dashboard1.js"></script>

        <!--WebSocket-->
    <script src="js/websocket.js"></script>
</body>
</html>